/* -------------------------------- */
/* ---------- CSS Reset ----------- */
/* -------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Add your styles below */

header {
  display: flex;
  align-items: center;
  background-color: black;
}

.header-nav {
  display: flex;
  gap: 30px;
  padding: 30px;
}

img {
  width: 120px;
  padding: 30px;
}

.title {
  text-align: center;
  flex: 1;
  color: #1db954;
}

.header-nav a:hover {
  color: #1db954;
}

.header-nav a {
  color: white;
  text-decoration: none;
}

h2 {
  padding: 30px;
  font-size: 1.5rem3;
  color: #1db954;
}

.albums span {
  font-weight: normal;
  font-size: small;
}

.playlists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 30px 30px;
}

.songs {
  display: flex;
  align-items: center;
  color: white;

  gap: 15px;
  background-color: black;
  border-radius: 4px;
}

.songs img {
  padding: 8px;
  border-radius: 4px;
}
.songs figure {
  width: 100px;
  height: 100px;
}

.songs figure img {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1e1e;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.albums {
  display: grid;
  grid-template-columns: 4, 1fr;
  gap: 20px;
  color: white;
  font-weight: bold;
}

.artist {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: black;
  width: 180px;
}


