/* -------------------------------- */
/* ---------- CSS Reset ----------- */
/* -------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Add your styles below */

header {
  display: flex;
  align-items: center;
  background-color: black;
}

.header-nav {
  display: flex;
  gap: 30px;
  padding: 30px;
}



.title {
  text-align: center;
  flex: 1;
  color: #1db954;
}

.header-nav a:hover {
  color: #1db954;
}

.header-nav a {
  color: white;
  text-decoration: none;
}

h2 {
  padding: 30px;
  font-size: 1.5rem;
  color: #1db954;
}

.albums span {
  font-weight: normal;
  font-size: small;
}

.playlists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 30px 30px;
}

.songs {
  display: flex;
  align-items: center;
  color: white;
  gap: 15px;
  background-color: black;
  border-radius: 4px;
}

.songs img {
  padding: 8px;
  border-radius: 4px;
}

.songs figure {
  width: 100px;
  height: 100px;
}

.songs figure img {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1e1e;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* ================================= */
/* ========= ALBUM SECTION ========= */
/* ================================= */
/* ================================= */
/* ========= ALBUM SECTION ========= */
/* ================================= */

.albums {
  display: flex;
  gap: 20px;
  padding: 0 30px 30px;
  color: white;
  font-weight: bold;
}

.artist {
  background-color: black;
  width: 180px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-height: 260px;
  justify-content: space-between;
}

.artist figure {
  margin: 0;
  height: 180px;
}

.artist img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 4px;
  box-sizing: border-box;
}

.album-info {
  padding: 0px;
}

.album-info p {
  margin-bottom: 1px;
  font-weight: bold;
  margin-top: 10px;
}

.album-info span {
  display: block;
  font-weight: normal;
  font-size: 0.85rem;
}
header img {
  width: 120px;
  height: auto;
  padding: 30px;
}

.artist figure {
  padding: 15px;
}

.album-info {
  padding: 0 15px 15px;
  text-align: left;
  margin-top: 50px;
}

footer {
  text-align: center;
  color: white;
  padding: 20px 0;
}

footer a {
  color: #1db954;
  text-decoration: none;
}